<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STRNGRS</title>
    <style></style>
    <!--Style for Home page-->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div id="app">
        <nav className = "navbar navbar -expand navbar-light fixed-top">
            <div className = "container">
                <a href=" " className = "nav-item navbar-brand">Home</a>
                <div className = "collpase navbar-collapse">
                    <ul className = "navbar -nav ml-auto">
                        <li className = "nav-item">
                            <a href=" " className = "navbar-link">Login</a>
                        </li>
                        <li className = "nav-item">
                            <a href=" " className = "navbar-link">Register</a>
                        </li>
                        <li className = "nav-item">
                            <a href=" " className = "navbar-link">Posts</a>
                        </li>
                        <li className = "nav-item">
                            <a href=" " className = "navbar-link">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div className = "auth-wrapper">
            <div className = "auth-inner">
                <h2> You are not logged in</h2>
            </div>
        </div>
    </div>
</body>
</html>