@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.user-posts {
  padding: 1em;
  font-family: 'Libre Baskerville', serif;
}

.user-posts h2 {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid grey;
}

.footer {
    padding-bottom: .5em;
    border-bottom: 1px solid grey;
  }

#post-box {
  margin-bottom: 1em;
  max-width: 40em;
  border: 3px solid rgb(33, 6, 128);
  margin: 30px;
  max-width: 50%;
  font-size:small ;
  background-color: rgb(241, 250, 250);
  text-align: center;
  box-shadow: 5px 14px 80px rgba(23, 23, 26, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 20px;
  transition: all .3s;
  /* display:flex; */
  justify-content:center;
  flex-direction:column;
 
  
}